/*
COLORS
 Teal :#4CA7C0
Purple: #484FB7
Lavender: #6B8FE7
Yellow: #E9BB57; 
Pink:#D9526F;
Dark-gray:#1E1E1E; 
White:#ffffff; 
*/

/* -------------------- CSS BY NAME -------------------------------------- */
.ourServices {
    padding-bottom: 50px;
}
.personalDevelopment, .careerCoaching, .relationshipCoaching {
    background-color: #ffffff;
}

.whyChoose, .firstSteps {
    background-color: #D9526F;
    text-decoration: none;
}
.one {
    background-color: #4CA7C0;
}
.two {
    background-color: #6B8FE7;
}
.three {
    background-color: #E9BB57;
}
.four {
    background-color: #ffffff;
}


/* -------------------- IMPORTED FONTS -------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');
/*-------------------- CSS RESET ---------------------------------------------------*/

/* -------------------- ROOT VARIABLES --------------------------------------- */
h1, h2 {
    font-family: "Kavoon", Arial, Helvetica, sans-serif;
    color: #ffffff;
}

body {
    background-color: #484FB7;
}
html {
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 3em;
    background-color: #6B8FE7;
    text-align: center;

}

h2 > nav {
    font-size: 1.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
    color: #E9BB57;
}

h4 {
    font-size: 1.14em;
    color: #6B8FE7;
}

a {
    text-decoration: none;

}
.table {
    background-color: #E9BB57;
}


.table td {
    background-color: #ffffff;
}

.table > tr {
    padding: 20px;
}


/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/

/*-------------------- MEDIA QUERY (medium) --------------------------------*/

/*-------------------- MEDIA QUERY (large) ------------------------------------*/

/*-------------------- MEDIA QUERY (xl) ---------------------------------------*/
